
.main-title {
  @extend .brown;
  @extend .z-depth-1;

  padding: 35px;

  h2 {
    @extend .white-text;
    margin: 0;
  }

  p {
    @extend .brown-text;
    @extend .text-lighten-4;
  }

  h2, p {
    text-align: center;
  }
}