
.comparison-step {

  margin-bottom: 40px;

  .comparison-step-title {

    margin-bottom: 30px;

    h5, p {
      text-align: center;
    }

    h5 {
      @extend .grey-text;
      @extend .text-darken-4;
    }

    p {
      @extend .grey-text;
      @extend .text-darken-1;
    }
  }
}