.csv-upload-card {
  .csv-pkg-name {
    font-size: 1.5rem;
  }

  input.file-path {
    @include placeholder {
      color: map-get($grey, 'darken-1');
    }
  }

  .filename-section {
    position: relative;
  }
}